# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment
.env
venv/
env/
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.sqlite3
__pycache__/

# Performance / Load testing
load_test.js
k6/
tests/
*.k6.js
